body {background-color: yellow;}
h1 {color:red;}

.tituloverde {color:green;}
.titulorojo {color:red;
   font-size: 80px;
   background-color: black;
   text-decoration: underline;

}
p {text-align:  center;}
img {
        width:  800px;
        height: 300px;
            }
